<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5 mb-5">
    <h1>Add university</h1>
    <form action="/university/add" method="post">
        <input type="text" name="name" placeholder="University name" class="form-control"><br>
        <input type="text" name="address" placeholder="University address" class="form-control"><br>
        <input type="number" name="city" placeholder="City ID" class="form-control"><br>
        <button type="submit" class="btn btn-success">Add the university</button>
        <a href="/home">Go to home</a><br>
        <!--
        имя студента
        фамилия студента
        средний балл
        университет
        год рождения

        имя препода
        фамилия препода
        предмет
        университет

        -->
    </form>
</div>
</body>
</html>